# https://docs.microsoft.com/azure/devops/pipelines/languages/python
pool:
  vmImage: 'ubuntu-16.04'

trigger:
- master
- develop

pr:
- master
- develop

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.6'
    architecture: 'x64'
    
- script: python -m pip install --upgrade pip setuptools wheel
  displayName: 'Install and upgrade pip'

- script: pip install -r source/requirements.txt
  displayName: 'Install Requirements'

- script: sudo apt-get update && sudo apt-get install -qy --force-yes texlive-full
    displayName: 'Install LaTeX'

- script: make html
  displayName: 'Compile Docs'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: build/ 
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: 'build.zip' 
    replaceExistingArchive: true 
