{% extends '!layout.html' %}

{% block extrabody %} 


<div class="header-bar">
        <!-- Color Strip -->
        <div class="color-strip">
            <div class="fred"></div>
            <div class="forange"></div>
            <div class="fblue"></div>
        </div>
</div>
{% endblock %}

{%- block footer %}
  {%- if READTHEDOCS %}
  <script>
    if (typeof READTHEDOCS_DATA !== 'undefined') {
        if (!READTHEDOCS_DATA.features) {
          READTHEDOCS_DATA.features = {};
        }
        READTHEDOCS_DATA.features.docsearch_disabled = false;
      }
    </script>
  {%- endif %}
{%- endblock %}
