{% extends '!layout.html' %}

{% block extrabody %} 


<div class="header-bar">
        <!-- Color Strip -->
        <div class="color-strip">
            <div class="fgreen"></div>
            <div class="fred"></div>
            <div class="forange"></div>
            <div class="fblue"></div>
        </div>
        <div class="link-bar-container">
            <div id="link-bar" class="collapse">
                <ul>          
                  <li id="manual-link"><a href="https://www.firstinspires.org/resource-library/frc/competition-manual-qa-system">FRC Game Manual</a></li>
                  <li id="qa-link"><a href="https://frc-qa.firstinspires.org/">FRC Game Q&A</a></li>
                  <li id="archive-link"><a href="https://wpilib.screenstepslive.com/s/3120">2014 CS Archive</a></li>
                </ul>
            </div>
        </div>
</div>
{% endblock %}

{%- block footer %}
  {%- if READTHEDOCS %}
  <script>
    if (typeof READTHEDOCS_DATA !== 'undefined') {
        if (!READTHEDOCS_DATA.features) {
          READTHEDOCS_DATA.features = {};
        }
        READTHEDOCS_DATA.features.docsearch_disabled = false;
      }
    </script>
  {%- endif %}
{%- endblock %}
