#link-bar a:visited {
	color: #FFF;
}

#link-bar li {
	float: left;
	padding: 15px;
}

.color-strip {
	height: 10px;
	margin :0;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 999;
	display: table;
}

.color-strip .fblue {
	background: #009cd7;
}

.color-strip .forange {
	background: #f57e25;
}

.color-strip .fred {
	background: #ed1c24;
}

.color-strip div {
	height: 100%;
	display: table-cell;
}

.rst-versions {
	width: 320px;
}

.document img {
	margin-bottom: 10px;
}

.header-bar {
	background: #003974;
	min-height: 60px;
}

.link-bar-container {
	margin-left: 320px;
}

.wy-nav-content {
	background: #fcfcfc;
}

/* Tweaks to make sidebar scroll look pretty */
.wy-side-scroll {
	width: auto;
	overflow-y: auto;
	margin-top: 10px;
}

.wy-nav-side {
	width: 320px;
}

.wy-nav-content {
	max-width: 1000px;
}

.wy-nav-content-wrap {
	margin-left: 320px;
}

.wy-nav-content-wrap{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#003974',endColorstr='#003974',GradientType=1);
	background:#003974;
	background:-moz-linear-gradient(left,#6cc2c9,#003974);
	background:-webkit-gradient(linear,left top,right top,color-stop(50%,#6cc2c9),color-stop(100%,#003974));
	background:-webkit-linear-gradient(left,#6cc2c9,#003974);
	background:-o-linear-gradient(left,#6cc2c9,#003974);
	background:-ms-linear-gradient(left,#6cc2c9,#003974);
	background:linear-gradient(to right,#6cc2c9,#003974)
}

.wy-nav-side,.wy-side-nav-search,.wy-nav-top {
	background: #003974;
}

/* Hide color bar on mobile */
@media screen and (max-width: 768px) {
	.header-bar {
		display: none;
	}

	.wy-nav-content-wrap {
		margin-left: 0px;
	}

	.wy-nav-side {
		width: 300px;
	}

	.wy-nav-side.shift {
    	max-width: 320px;
    }

	/* Fix sidebar adjust */
	.rst-versions {
		width: 85%;
		max-width: 320px;
	}
}

/* Handle landscape */
@media screen and (min-width: 377px) {
  .wy-nav-content-wrap.shift {
    left: 320px;
  }
}
/* Fix table padding https://github.com/readthedocs/sphinx_rtd_theme/issues/117 */
@media screen and (min-width: 768px) {
	.wy-table-responsive table td, .wy-table-responsive table th {
	    white-space: normal !important;
	}
}

/* ===================================== */
/* ====== START SPHINX TABS CSS ======== */

.sphinx-tab img {
	margin-bottom: 24px;
}

/* ======================================== */
/* ====== START SPHINX DETAILS CSS ======== */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em;
    margin: .5em .5em 2em .5em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}