.flex-grid {
    display: flex;
    margin: 5px;

}

@media (max-width: 600px) {
    .flex-grid {
      display: block;
      margin: 5px;

    }
  }

.col {
    flex: 1;
    min-height: 300px;
    margin: 5px;
}

controlTable {
    margin: 5px;
}
    
    