alabaster==0.7.16 ; python_version >= "3.11" and python_version < "3.15"
apeye-core==1.1.5 ; python_version >= "3.11" and python_version < "3.15"
apeye==1.4.1 ; python_version >= "3.11" and python_version < "3.15"
autodocsumm==0.2.14 ; python_version >= "3.11" and python_version < "3.15"
babel==2.17.0 ; python_version >= "3.11" and python_version < "3.15"
beautifulsoup4==4.14.2 ; python_version >= "3.11" and python_version < "3.15"
black==25.11.0 ; python_version >= "3.11" and python_version < "3.15"
brotli==1.2.0 ; platform_python_implementation == "CPython" and python_version >= "3.11" and python_version < "3.15"
brotlicffi==1.1.0.0 ; platform_python_implementation != "CPython" and python_version >= "3.11" and python_version < "3.15"
cachecontrol[filecache]==0.14.4 ; python_version >= "3.11" and python_version < "3.15"
certifi==2025.11.12 ; python_version >= "3.11" and python_version < "3.15"
cffi==2.0.0 ; platform_python_implementation != "CPython" and python_version >= "3.11" and python_version < "3.15"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "3.15"
click==8.3.1 ; python_version >= "3.11" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.15" and (sys_platform == "win32" or platform_system == "Windows")
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.15"
cssutils==2.11.1 ; python_version >= "3.11" and python_version < "3.15"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.15"
dict2css==0.3.0.post1 ; python_version >= "3.11" and python_version < "3.15"
doc8==2.0.0 ; python_version >= "3.11" and python_version < "3.15"
docutils==0.21.2 ; python_version >= "3.11" and python_version < "3.15"
domdf-python-tools==3.10.0 ; python_version >= "3.11" and python_version < "3.15"
filelock==3.20.0 ; python_version >= "3.11" and python_version < "3.15"
fonttools==4.43.0 ; python_version >= "3.11" and python_version < "3.15"
fonttools[woff]==4.43.0 ; python_version >= "3.11" and python_version < "3.15"
frccontrol==2025.6 ; python_version >= "3.11" and python_version < "3.15"
furo==2024.8.6 ; python_version >= "3.11" and python_version < "3.15"
gitdb==4.0.12 ; python_version >= "3.11" and python_version < "3.15"
gitpython==3.1.45 ; python_version >= "3.11" and python_version < "3.15"
html5lib==1.1 ; python_version >= "3.11" and python_version < "3.15"
idna==3.11 ; python_version >= "3.11" and python_version < "3.15"
imagesize==1.4.1 ; python_version >= "3.11" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.15"
jsmin==3.0.1 ; python_version >= "3.11" and python_version < "3.15"
kiwisolver==1.4.9 ; python_version >= "3.11" and python_version < "3.15"
markdown2==2.5.4 ; python_version >= "3.11" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "3.15"
matplotlib==3.10.7 ; python_version >= "3.11" and python_version < "3.15"
modern-sphinx-version-warning==1.1.6 ; python_version >= "3.11" and python_version < "3.15"
more-itertools==10.8.0 ; python_version >= "3.11" and python_version < "3.15"
msgpack==1.1.2 ; python_version >= "3.11" and python_version < "3.15"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.15"
natsort==8.4.0 ; python_version >= "3.11" and python_version < "3.15"
numpy==2.3.5 ; python_version >= "3.11" and python_version < "3.15"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.15"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "3.15"
pillow==12.0.0 ; python_version >= "3.11" and python_version < "3.15"
platformdirs==4.5.0 ; python_version >= "3.11" and python_version < "3.15"
pycparser==2.23 ; platform_python_implementation != "CPython" and python_version >= "3.11" and python_version < "3.15" and implementation_name != "PyPy"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "3.15"
pyparsing==3.2.5 ; python_version >= "3.11" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.15"
pytokens==0.3.0 ; python_version >= "3.11" and python_version < "3.15"
requests==2.32.4 ; python_version >= "3.11" and python_version < "3.15"
restructuredtext-lint==1.4.0 ; python_version >= "3.11" and python_version < "3.15"
ruamel-yaml-clib==0.2.15 ; platform_python_implementation == "CPython" and python_version < "3.14" and python_version >= "3.11"
ruamel-yaml==0.18.16 ; python_version >= "3.11" and python_version < "3.15"
scipy==1.16.3 ; python_version >= "3.11" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.15"
smmap==5.0.2 ; python_version >= "3.11" and python_version < "3.15"
snowballstemmer==3.0.1 ; python_version >= "3.11" and python_version < "3.15"
soupsieve==2.8 ; python_version >= "3.11" and python_version < "3.15"
sphinx-autodoc-typehints==2.3.0 ; python_version >= "3.11" and python_version < "3.15"
sphinx-basic-ng==1.0.0b2 ; python_version >= "3.11" and python_version < "3.15"
sphinx-build-compatibility @ git+https://github.com/readthedocs/sphinx-build-compatibility@58aabc5f207c6c2421f23d3578adc0b14af57047 ; python_version >= "3.11" and python_version < "3.15"
sphinx-contributors==0.2.7 ; python_version >= "3.11" and python_version < "3.15"
sphinx-copybutton==0.5.2 ; python_version >= "3.11" and python_version < "3.15"
sphinx-design==0.6.1 ; python_version >= "3.11" and python_version < "3.15"
sphinx-hoverxref==1.4.2 ; python_version >= "3.11" and python_version < "3.15"
sphinx-jinja2-compat==0.4.1 ; python_version >= "3.11" and python_version < "3.15"
sphinx-last-updated-by-git==0.3.8 ; python_version >= "3.11" and python_version < "3.15"
sphinx-notfound-page==1.1.0 ; python_version >= "3.11" and python_version < "3.15"
sphinx-prompt==1.10.1 ; python_version >= "3.11" and python_version < "3.15"
sphinx-tabs==3.4.5 ; python_version >= "3.11" and python_version < "3.15"
sphinx-toolbox==3.10.0 ; python_version >= "3.11" and python_version < "3.15"
sphinx==7.4.7 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-jquery==4.1 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-svg2pdfconverter==1.3.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxcontrib-video==0.4.1 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-delta==0.3.1 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-mimic==0.1.1 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-opengraph==0.13.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-photofinish==0.1.11 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-presentations==0.3.1 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-rediraffe==0.2.7 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-remoteliteralinclude==0.6.0 ; python_version >= "3.11" and python_version < "3.15"
sphinxext-toptranslators==0.1.3 ; python_version >= "3.11" and python_version < "3.15"
standard-imghdr==3.10.14 ; python_version >= "3.13" and python_version < "3.15"
stevedore==5.5.0 ; python_version >= "3.11" and python_version < "3.15"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "3.15"
tinycss2==1.4.0 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.15"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "3.15"
webencodings==0.5.1 ; python_version >= "3.11" and python_version < "3.15"
zopfli==0.4.0 ; python_version >= "3.11" and python_version < "3.15"
