sphinx_rtd_theme==0.5.1
sphinx==3.4.3
sphinx-tabs==2.0.0
latex==0.7.0
doc8==0.8.1
sphinxext-remoteliteralinclude==0.2.0
sphinxcontrib-ghcontributors==0.2.2
sphinx-notfound-page==0.6
sphinxcontrib-svg2pdfconverter==1.1.1
sphinx-hoverxref==0.5b1
sphinxext-opengraph==0.4.1
sphinxext-toptranslators==0.1.2
sphinxext-linkcheckdiff==0.1.0
sphinxext-rediraffe==0.2.5
sphinx-version-warning==1.1.2
sphinx-panels==0.5.2
docutils==0.16
