alabaster==0.7.12; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
apeye==1.2.0; python_full_version >= "3.6.1" and python_version >= "3.7"
autodocsumm==0.2.9; python_version >= "3.7"
babel==2.10.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0" and python_version >= "3.7"
brotli==1.0.9; platform_python_implementation == "CPython" and python_version >= "3.7"
brotlicffi==1.0.9.2; platform_python_implementation != "CPython" and python_version >= "3.7"
cachecontrol==0.12.11; python_version >= "3.7"
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
cffi==1.15.1; platform_python_implementation != "CPython" and python_version >= "3.7"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") and python_version < "4.0" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") and python_version < "4.0"
cssutils==2.6.0; python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
data==0.4
decorator==5.1.1; python_version >= "3.5"
dict2css==0.3.0; python_version >= "3.7"
doc8==0.11.1; python_version >= "3.6"
docutils==0.17; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
domdf-python-tools==3.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
fonttools==4.33.3; python_version >= "3.7"
frccontrol==2022.14
funcsigs==1.0.2
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.27; python_version >= "3.7"
html5lib==1.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.1"
imagesize==1.4.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
jinja2==3.1.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
jsmin==3.0.0
kiwisolver==1.4.4; python_version >= "3.7"
latex==0.7.0
lockfile==0.12.2; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
matplotlib==3.5.2; python_version >= "3.7"
msgpack==1.0.4; python_version >= "3.7"
natsort==8.1.0; python_full_version >= "3.6.1" and python_version >= "3.7"
numpy==1.23.1; python_version >= "3.8" and python_version < "3.12"
packaging==20.9; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pbr==5.9.0; python_version >= "3.8"
pillow==9.2.0; python_version >= "3.7"
platformdirs==2.5.2; python_full_version >= "3.6.1" and python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "CPython" or platform_python_implementation != "CPython" and python_version >= "3.7" and python_full_version >= "3.4.0"
pygments==2.12.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0")
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pytz==2022.1; python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0") and python_full_version >= "3.6.1"
restructuredtext-lint==1.4.0; python_version >= "3.6"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.7"
ruamel.yaml==0.17.21; python_version >= "3.7"
scipy==1.9.0; python_version >= "3.8" and python_version < "3.12"
setuptools-scm==7.0.5; python_version >= "3.7"
shutilwhich==1.1.0
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
smmap==5.0.0; python_version >= "3.7"
snowballstemmer==2.2.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
sphinx-autodoc-typehints==1.19.1; python_version >= "3.7"
sphinx-hoverxref==1.0.1
sphinx-jinja2-compat==0.1.2; python_version >= "3.7"
sphinx-notfound-page==0.8
sphinx-panels==0.6.0
sphinx-prompt==1.5.0; python_version >= "3.7"
sphinx-rtd-theme==1.0.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
sphinx-tabs==3.3.1; python_version >= "3.6" and python_version < "4.0"
sphinx-toolbox==3.1.0; python_version >= "3.7"
sphinx-version-warning==1.1.2
sphinx==4.5.0; python_version >= "3.6"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-ghcontributors==0.2.3
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.5"
sphinxcontrib-svg2pdfconverter==1.2.0; python_version >= "3.4" and python_version < "4.0"
sphinxext-delta==0.2.0; python_version >= "3.6"
sphinxext-linkcheckdiff==0.1.0; python_version >= "3.6"
sphinxext-mimic==0.1.1; python_version >= "3.6"
sphinxext-opengraph==0.4.1; python_version >= "3.6"
sphinxext-photofinish==0.1.9; python_version >= "3.6"
sphinxext-presentations==0.2.2; python_version >= "3.6"
sphinxext-rediraffe==0.2.5; python_version >= "3.6"
sphinxext-remoteliteralinclude==0.3.0; python_version >= "3.4"
sphinxext-toptranslators==0.1.2; python_version >= "3.6"
stevedore==4.0.0; python_version >= "3.8"
tabulate==0.8.10; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
tempdir==0.7.1
tinycss2==1.1.1; python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
typing-extensions==4.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
urllib3==1.26.11; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0" and python_version < "4")
webencodings==0.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
zipp==3.8.1; python_version < "3.10" and python_version >= "3.7"
zopfli==0.2.1; python_version >= "3.7"
