name: Link Check

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 4 * * *'

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  check-links:
    if: github.repository_owner == 'wpilibsuite'
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Check Links
      run: uv run make linkcheck
